<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="GEC" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="GEC" />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <!-- Site Title  -->
    <title>Green Earth Community Landing-Page</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=200" />
    <link rel="stylesheet" href="assets/css/style.css?ver=200" />
  </head>

  <body class="nk-body body-wider bg-light mode-onepage">
    <div class="nk-wrap">
      <header
        class="nk-header page-header is-transparent is-sticky is-shrink"
        id="header"
      >
        <!-- Header @s -->
        <div class="header-main">
          <div class="header-container container">
            <div class="header-wrap">
              <!-- Logo @s -->
              <div
                class="header-logo logo animated"
                data-animate="fadeInDown"
                data-delay=".6"
              >
                <a href="#" class="logo-link">
                  <img class="logo-dark" src="images/logo2.png" alt="logo" />
                  <img
                    class="logo-light"
                    src="images/logo2-full-white.png"
                    alt="logo"
                  />
                </a>
              </div>
              <!-- Menu Toogle @s -->
              <div class="header-nav-toggle">
                <a
                  href="#"
                  class="navbar-toggle"
                  data-menu-toggle="header-menu"
                >
                  <div class="toggle-line">
                    <span></span>
                  </div>
                </a>
              </div>
              <!-- Menu @s -->
              <div
                class="header-navbar animated"
                data-animate="fadeInDown"
                data-delay=".75"
              >
                <nav class="header-menu" id="header-menu">
                  <ul class="menu">
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="#header">Home</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="#about">GEC</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="#background"
                        >Background</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="#service">Service</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="#contract"
                        >Contract</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="#documents"
                        >Whitepaper</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="#roadmap">Roadmap</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="#faq">Faq</a>
                    </li>
                    <li class="menu-item has-sub">
                      <a class="menu-link nav-link menu-toggle" href="#"
                        >Lang</a
                      >
                      <ul class="menu-sub menu-drop">
                        <li class="menu-item">
                          <a class="menu-link nav-link" href="index">KR</a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link nav-link" href="index_en">EN</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- .header-navbar @e -->
            </div>
          </div>
        </div>
        <!-- .header-main @e -->
        <!-- Banner @s -->
        <div class="header-banner bg-theme-grad">
          <div class="nk-banner">
            <div class="banner banner-fs banner-single banner-gap-b2">
              <div class="banner-wrap">
                <div class="container">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 order-lg-last">
                      <div
                        class="banner-gfx banner-gfx-re-s1 animated"
                        data-animate="fadeInUp"
                        data-delay=".9"
                      >
                        <img src="images/main.png" alt="header" />
                      </div>
                    </div>
                    <!-- .col -->
                    <div class="col-lg-7 col-sm-10 text-center text-lg-start">
                      <div class="banner-caption cpn tc-light">
                        <div class="cpn-head">
                          <h1
                            class="title animated"
                            data-animate="fadeInUp"
                            data-delay="1"
                          >
                            Green Earth Social Impact Alliance<br
                              class="d-none d-md-block"
                            />
                          </h1>
                        </div>
                        <div class="cpn-text">
                          <p
                            class="animated"
                            data-animate="fadeInUp"
                            data-delay="1.1"
                          >
                            The GESIA platform aims to overcome the limitations
                            of current not-for-profit environmental movements
                            and to promote social impact investment
                            opportunities in new carbon economy by harnessing
                            the possibilities wide opened by blockchain.
                          </p>
                        </div>
                        <div class="cpn-action">
                          <div
                            class="cpn-btns animated"
                            data-animate="fadeInUp"
                            data-delay="1.2"
                          >
                            <a class="btn btn-light" href="#background"
                              >Background</a
                            >
                          </div>
                          <ul
                            class="cpn-links animated"
                            data-animate="fadeInUp"
                            data-delay="1.3"
                          >
                            <li>
                              <a class="menu-link nav-link" href="#documents"
                                ><em class="link-icon fas fa-file-alt"></em
                                ><span>White Paper</span></a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- .col -->
                  </div>
                  <!-- .row -->
                </div>
              </div>
            </div>
          </div>
          <!-- .nk-banner -->
          <div class="nk-ovm mask-a shape-a"></div>
          <!-- Place Particle Js -->
          <div id="particles-bg" class="particles-container particles-bg"></div>
        </div>
        <!-- .header-banner @e -->
      </header>
      <main class="nk-pages">
        <section class="section no-pd overflow-hidden text-center over-up">
          <h6
            class="title title-xs tc-secondary pdb-s animated"
            data-animate="fadeInUp"
            data-delay=".8"
          >
            GEC Platform
          </h6>
          <ul class="rank-list">
            <li
              class="rank-item animated"
              data-animate="fadeInUp"
              data-delay=".9"
            >
              <img src="images/gec-logo1.png" alt="" />
              <div class="rank-count">NFT</div>
            </li>
            <li
              class="rank-item animated"
              data-animate="fadeInUp"
              data-delay="1"
            >
              <img src="images/gec-logo1.png" alt="" />
              <div class="rank-count">GET</div>
            </li>
            <li
              class="rank-item animated"
              data-animate="fadeInUp"
              data-delay="1.1"
            >
              <img src="images/gec-logo1.png" alt="" />
              <div class="rank-count">POC</div>
            </li>
            <li
              class="rank-item animated"
              data-animate="fadeInUp"
              data-delay="1.2"
            >
              <img src="images/gec-logo1.png" alt="" />
              <div class="rank-count">2Layer</div>
            </li>
            <li
              class="rank-item animated"
              data-animate="fadeInUp"
              data-delay="1.3"
            >
              <img src="images/gec-logo1.png" alt="" />
              <div class="rank-count">Oracle</div>
            </li>
          </ul>
        </section>
        <!-- // -->
        <section class="section bg-light section-about" id="about">
          <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-about">
              <div class="row gutter-vr-30px align-items-center pdb-x">
                <div class="col-lg-7">
                  <div class="nk-block-text">
                    <h2
                      class="title animated"
                      data-animate="fadeInUp"
                      data-delay=".1"
                    >
                      Green Earth Social Impact Alliance
                    </h2>
                    <p
                      class="animated"
                      style="text-align: justify"
                      data-animate="fadeInUp"
                      data-delay=".2"
                    >
                      <strong>The GESIA Platform</strong> will start with two
                      servies, 'social contribution services' and 'social impact
                      investment services,' allowing participants to generate
                      sufficient profits while contributing to society. The
                      services are designed carefully to motivate the voluntary
                      participation of people incorporating blockchain's network
                      effects and various fun elemetns.
                    </p>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div
                    class="nk-block-video animated"
                    data-animate="fadeInUp"
                    data-delay=".5"
                  >
                    <img src="images/green-earth1.png" alt="green-earth" />
                  </div>
                </div>
              </div>
            </div>
            <!-- .block @e -->
          </div>
        </section>
        <!-- // -->
        <section class="section section-features bg-white" id="features">
          <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-features-s2">
              <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-5">
                  <div
                    class="nk-block-video animated"
                    data-animate="fadeInUp"
                    data-delay=".1"
                  >
                    <img src="images/gec-chain.png" alt="gec_chain" />
                  </div>
                </div>
                <!-- .col -->
                <div class="col-lg-7">
                  <!-- Section Head @s -->
                  <div class="section-head">
                    <h2
                      class="title animated"
                      data-animate="fadeInUp"
                      data-delay=".2"
                    >
                      GESIA Chain?
                    </h2>
                    <p
                      class="animated"
                      style="text-align: justify"
                      data-animate="fadeInUp"
                      data-delay=".3"
                    >
                      While Bitcoin and Ethereum are public blockchains that
                      require a high carbon footprint by design, GESIA Chain has
                      a hybrid architecture to reduce the carbon footprint of
                      the blockchain. GESIA Chain works as a sidechain with
                      lightning protocol to ensure high transaction processing
                      speed and is limitedly anchored on the public blockchain
                      to maintain network compatibility and stability.Market
                      information for Carbon Offset Credit trading. <br /><br />
                      Through the GESIA platform, investors will be able to
                      invest in carbon offset credits with various virtual
                      assets and receive tokenized carbon offset credits so that
                      investors will have access to the blockchain-based
                      secondary market. All records of these transactions will
                      be recorded on the blockchain and will always be managed
                      Hybrid Smart Contracts and Oracle Services. <br /><br />
                      GESIA Chain delivers verified information to members
                      through blockchain oracle services and provides them when
                      making various decisions.
                    </p>
                  </div>
                  <!-- .section-head @e -->
                  <div class="features-list me-4 mgb-m30">
                    <div
                      class="feature feature-s2 animated"
                      data-animate="fadeInUp"
                      data-delay=".4"
                    >
                      <div class="feature-icon dot">
                        <em class="icon ikon ikon-cloud"></em>
                      </div>
                      <div class="feature-text">
                        <h5 class="title title-sm">
                          Market information for carbon offset trading
                        </h5>
                        <p style="text-align: justify">
                          Green Earth Chain provides a fair market value of
                          carbon offsets of virtual assets used for trading in
                          carbon offset trading.
                        </p>
                      </div>
                    </div>
                    <div
                      class="feature feature-s2 animated"
                      data-animate="fadeInUp"
                      data-delay=".5"
                    >
                      <div class="feature-icon dot">
                        <em class="icon ikon ikon-wallet-digital"></em>
                      </div>
                      <div class="feature-text">
                        <h5 class="title title-sm">
                          Compensation through geospatial data
                        </h5>
                        <p style="text-align: justify">
                          Satellite geospatial fetches images and smart
                          contracts reward those who contribute according to
                          defined conditions for the area of tree growth.
                        </p>
                      </div>
                    </div>
                    <div
                      class="feature feature-s2 animated"
                      data-animate="fadeInUp"
                      data-delay=".6"
                    >
                      <div class="feature-icon dot">
                        <em class="icon ikon ikon-data-server"></em>
                      </div>
                      <div class="feature-text">
                        <h5 class="title title-sm">Dynamic NFTs</h5>
                        <p style="text-align: justify">
                          GESIA Chain's second-generation NFTs enable dynamic
                          changes to static first-generation NFTs through hybrid
                          smart contracts.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .col -->
              </div>
              <!-- .row -->
            </div>
            <!-- .block @e -->
          </div>
        </section>
        <!-- // -->
        <section class="section section-solution bg-light" id="background">
          <div class="container container-xxl">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm">
              <h2
                class="title animated"
                data-animate="fadeInUp"
                data-delay=".1"
              >
                Background
              </h2>
              <p class="animated" data-animate="fadeInUp" data-delay=".2">
                The GESIA platform seeks to overcome the limitations of the
                existing non-profit environmental movement by leveraging the new
                possibilities provided by blockchain.
              </p>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block nk-block-features-s3">
              <div class="row gutter-vr-40px justify-content-center">
                <div class="col-lg-6 col-md-10">
                  <div
                    class="feature feature-s3 feature-center animated"
                    data-animate="fadeInUp"
                    data-delay=".3"
                  >
                    <div class="feature-icon feature-icon-lg">
                      <em class="icon icon-lg ikon ikon-bulb-2"></em>
                    </div>
                    <div class="feature-text">
                      <h4 class="title title-md title-dark">
                        Green Technology Status
                      </h4>
                      <p style="text-align: justify">
                        The market for green technology is still at the infant
                        stage but attracting the interest of investors as the
                        issue of natural resources depletion and climate change
                        is escalating. As of 2020, the global green technology
                        market is recording USD 120B with a CAGR of 21.9% and is
                        expected to reach USD 900B by 2030. New Consumer Group,
                        Millennials. <br /><br />
                        The millennial generation is estimated at 1.8 billion,
                        accounting for the largest share of the generation
                        cohort. While growing up with the digital world and
                        social media, millennials' obsession with the
                        transparency and integrity of society may have formed
                        naturally. One of the distinctive traits of millennials
                        is that they firmly uphold an active appetite for the
                        common good of society. This trait is manifested in how
                        millennials choose their investments: According to CNN
                        Money, the overwhelming majority of Millennials
                        surveyed, 93%, believe that a company's social and
                        environmental impact is key to their investing
                        decisions.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- .col -->
                <div class="col-lg-6 col-md-10">
                  <div
                    class="feature feature-s3 feature-center animated"
                    data-animate="fadeInUp"
                    data-delay=".4"
                  >
                    <div class="feature-icon feature-icon-lg">
                      <em class="icon icon-lg ikon ikon-user"></em>
                    </div>
                    <div class="feature-text">
                      <h4 class="title title-md title-dark">
                        New Consumer Group, Millennials
                      </h4>
                      <p style="text-align: justify">
                        Millennials want to know exactly whether a company is
                        fulfilling its social responsibilities and what kind of
                        social contribution activities it is carrying out if it
                        claims to be fulfilling its responsibilities.&nbsp;
                        These unique characteristics of millennials are
                        distinctly different from previous generations, and if a
                        new culture reflecting their values ​​becomes mainstream
                        in the future, society will evolve in a healthier
                        direction.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- .col -->
                <div class="col-lg-6 col-md-10">
                  <div
                    class="feature feature-s3 feature-center animated"
                    data-animate="fadeInUp"
                    data-delay=".5"
                  >
                    <div class="feature-icon feature-icon-lg">
                      <em class="icon icon-lg ikon ikon-cash"></em>
                    </div>
                    <div class="feature-text">
                      <h4 class="title title-md title-dark">
                        Social Impact Investment
                      </h4>
                      <p style="text-align: justify">
                        Globally, investors have made it clear that profit is
                        not their only goal, and they want to show that they
                        contribute to society through investment. An asset
                        manager once said that 86% of its clients prefer and
                        choose social impact investments because of global
                        environmental issues. This is a historic opportunity not
                        to be missed. If only 10% of the $269 trillion of wealth
                        owned by institutions and individuals is channeled
                        toward investments that help improve society and the
                        environment, the UN's 'Sustainable Development Goals,'
                        including a carbon-neutral future, will be achieved.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- .col -->
                <div class="col-lg-6 col-md-10">
                  <div
                    class="feature feature-s3 feature-center animated"
                    data-animate="fadeInUp"
                    data-delay=".6"
                  >
                    <div class="feature-icon feature-icon-lg">
                      <em class="icon icon-lg ikon ikon-globe"></em>
                    </div>
                    <div class="feature-text">
                      <h4 class="title title-md title-dark">
                        Voluntary carbon offset Credits market
                      </h4>
                      <p style="text-align: justify">
                        As a follow-up to the UN Environment Conference in
                        Glasgow, Article 6 of the Paris Climate Agreement,
                        officially passed on November 13, 2021, provides the
                        basis for innovation in the private sector's voluntary
                        carbon offset credit market. Section 6.4 (Sustainable
                        Development Mechanism, SDM) also heralds a significant
                        change in how the private sector and the government
                        achieve emissions targets and makes us expect a quantum
                        leap in the voluntary carbon offset credits market.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- .col -->
              </div>
              <!-- .row -->
            </div>
            <!-- .block @e -->
          </div>
        </section>
        <!-- // -->
        <section class="section section-wallet bg-white" id="service">
          <div class="container">
            <div class="section-head text-center wide-auto-sm">
              <h2
                class="title animated"
                data-animate="fadeInUp"
                data-delay=".1"
              >
                Platform Service
              </h2>
              <p class="animated" data-animate="fadeInUp" data-delay=".2">
                The GESIA Platform will start with two services, ‘social
                contribution services’ and ‘social impact investment services,’
                allowing participants to generate <br /><br />
                sufficient profits while contributing to society.
              </p>
            </div>
            <!-- .section-head @e -->

            <!-- Block @s -->
            <div class="nk-block nk-block-text-wrap">
              <div
                class="row align-items-center justify-content-center flex-row-reverse"
              >
                <div class="col-lg-12">
                  <div class="nk-block-img bg-pattern-dots-color">
                    <div
                      class="animated"
                      data-animate="fadeInUp"
                      data-delay=".1"
                    >
                      <img src="images/carbon_offset1.png" alt="" />
                    </div>
                  </div>
                </div>
                <!-- .col -->
              </div>
            </div>
            <!-- .block @e -->
          </div>
        </section>
        <!-- // -->
        <section class="section section-wallet-bottom bg-white pdt-0">
          <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-text-grp mgb-m30">
              <h6
                class="title title-md tc-primary pdb-s animated"
                data-animate="fadeInUp"
                data-delay=".4"
              >
                Social Contribution Service
              </h6>
              <div class="row">
                <div class="col-lg-6">
                  <div
                    class="feature feature-s5 animated"
                    data-animate="fadeInUp"
                    data-delay=".5"
                  >
                    <h4 class="title title-md">Mileage Exchange system</h4>
                    <p style="text-align: justify">
                      GESIA platform would like to provide an integrated service
                      that allows individuals to convert various mileage
                      accumulated through carbon-emitting activities to carbon
                      offset credits and erase an individual's carbon footprint.
                      Through collaboration with companies or institutions that
                      issue mileage, consumers can easily procure carbon offset
                      credit or invest in projects that generate carbon offsets
                      with the value corresponding to the mileage. This new
                      ecosystem allows consumers to offset the carbon they
                      generate with the mileage they were rewarded for
                      respective consumption. NFT Green Activity Certificate
                    </p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div
                    class="feature feature-s5 animated"
                    data-animate="fadeInUp"
                    data-delay=".6"
                  >
                    <h4 class="title title-md">
                      NFT Green Activity Certificate
                    </h4>
                    <p style="text-align: justify">
                      We propose the Green Earth community platform to several
                      companies and service companies, and provide services so
                      that participating companies and service companies can
                      erase their carbon footprints with carbon offsets they own
                      or purchased. We will try to spread it more by issuing NFT
                      green activity certificates and reward tokens as a reward
                      for
                    </p>
                  </div>
                </div>
              </div>
              <!-- .row -->
            </div>
            <!-- .block @e -->
            <div class="nk-block nk-block-text-grp mgb-m30">
              <h6
                class="title title-md tc-primary pdb-s animated fadeInUp"
                data-animate="fadeInUp"
                data-delay=".4"
                style="visibility: visible; animation-delay: 0.4s"
              >
                When GESIA members participate, an NFT Green Activity
                certificate is issued to the participating members through the
                blockchain's Proof of Attendance Protocol. At this time, the
                geographic information of the area where the project is
                conducted is attached to the NFT certificate so that
                participants can observe changes in the area with continuous
                interest. In addition, a certain amount of tokens are provided
                as a reward for such participation based on the value of the
                project's carbon offset credit. Social Impact investment service
              </h6>
              <div class="row">
                <div class="col-lg-6">
                  <div
                    class="feature feature-s5 animated"
                    data-animate="fadeInUp"
                    data-delay=".5"
                  >
                    <h4 class="title title-md">
                      Carbon offset Credit brokerage
                    </h4>
                    <p style="text-align: justify">
                      The GESIA platform will connect with an authorized carbon
                      offset exchange so that members can quickly and
                      conveniently participate in the carbon offset market,
                      which is expected to have a high growth potential. Through
                      the GESIA platform, investors will be able to invest in
                      carbon offset credits with various virtual assets and
                      receive tokenized carbon offset credits so that investors
                      will have access to the blockchain-based secondary market.
                      All records of these transactions will be recorded on the
                      blockchain and will always be managed transparently.
                    </p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div
                    class="feature feature-s5 animated"
                    data-animate="fadeInUp"
                    data-delay=".6"
                  >
                    <h4 class="title title-md">Green Technology DAO</h4>
                    <p style="text-align: justify">
                      The GESIA platform is not just a trading brokerage
                      platform but a community of millennials who think deeply
                      about the future of society. The GESIA platform will be
                      built on a blockchain protocol that allows all
                      participants to discover new green technologies quickly,
                      share them with the community, make investment decisions
                      collectively if so voted, and form a Decentralized
                      Autonomous Organization (DAO) for the investment execution
                      and management.
                    </p>
                  </div>
                </div>
              </div>
              <!-- .row -->
            </div>
            <!-- .block @e -->
          </div>
        </section>
        <!-- // -->
        <section class="bg-theme bg-pattern-dots" id="contract">
          <div class="section section-tokensale tc-light">
            <div class="container container-xxl">
              <!-- Section Head @s -->
              <div class="section-head text-center wide-auto">
                <h2
                  class="title animated"
                  data-animate="fadeInUp"
                  data-delay=".1"
                >
                  Hybrid Smart Contract
                </h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">
                  Hash Time Lock Smart Contract & Atomic Swap
                </p>
              </div>
              <!-- .section-head @e -->
              <!-- Block @s -->
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-1-1">
                  <div
                    class="row align-items-center justify-content-between gutter-vr-40px"
                  >
                    <div class="col-lg-6 order-lg-last">
                      <div
                        class="nk-block-img nk-block-ca animated"
                        data-animate="fadeInUp"
                        data-delay="0.2"
                      >
                        <div
                          class="nk-circle-animation nk-df-center fast"
                        ></div>
                        <!-- .circle-animation -->
                        <img
                          class="shadow rounded"
                          src="images/get_platform.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="nk-block-text mgb-m30">
                        <h2
                          class="title title-md animated"
                          data-animate="fadeInUp"
                          data-delay="0.2"
                        >
                          A Open Platform for Hash Time Lock
                        </h2>
                        <p
                          class="animated"
                          data-animate="fadeInUp"
                          data-delay="0.2"
                        >
                          In order for the Green Earth Chain to work, GET issued
                          from the public network and its own GEC must be
                          exchanged. In this case, the Hash Time Lock function,
                          a kind of smart contract, is used. <br /><br />
                          A hash time lock is a combination of a time lock that
                          delays the execution of a contract by a certain amount
                          of time and a hash lock that executes/ends a contract
                          only when a certain hash value (other transaction
                          termination value) is presented. <br /><br />
                          A service that provides external information in real
                          life to a smart contract is called a blockchain
                          oracle, and a hybrid smart contract is a combination
                          of on-chain code and off-chain oracle. <br /><br />
                          Through the Oracle service, various information is
                          delivered to participants and provided to be used when
                          making decisions. Based on the investment plan
                          information, two or more experts verify whether the
                          investment plan is in line with the investment plan,
                          and the investment can be executed through the final
                          voting result.
                        </p>
                        <div
                          class="feature feature-inline feature-middle animated"
                          data-animate="fadeInUp"
                          data-delay="0.3"
                        >
                          <div class="feature-icon feature-icon-md">
                            <em
                              class="icon icon-md icon-grd ikon ikon-bulb-2"
                            ></em>
                          </div>
                          <div class="feature-text">
                            <p style="text-align: justify">
                              A hash time lock is a combination of a time lock
                              that delays the execution of a contract by a
                              certain amount of time and a hash lock that
                              executes/ends a contract only when a certain hash
                              value (other transaction termination value) is
                              presented.
                            </p>
                          </div>
                        </div>
                        <div
                          class="feature feature-inline feature-middle animated"
                          data-animate="fadeInUp"
                          data-delay="0.4"
                        >
                          <div class="feature-icon feature-icon-md">
                            <em
                              class="icon icon-md icon-grd ikon ikon-paricle"
                            ></em>
                          </div>
                          <div class="feature-text">
                            <p style="text-align: justify">
                              A service that provides external information in
                              real life to a smart contract is called a
                              blockchain oracle, and a hybrid smart contract is
                              a combination of on-chain code and off-chain
                              oracle.
                            </p>
                          </div>
                        </div>
                        <div
                          class="feature feature-inline feature-middle animated"
                          data-animate="fadeInUp"
                          data-delay="0.5"
                        >
                          <div class="feature-icon feature-icon-md">
                            <em
                              class="icon icon-md icon-grd ikon ikon-document-2"
                            ></em>
                          </div>
                          <div class="feature-text">
                            <p style="text-align: justify">
                              Through the Oracle service, various information is
                              delivered to participants and provided to be used
                              when making decisions. Based on the investment
                              plan information, two or more experts verify
                              whether the investment plan is in line with the
                              investment plan, and the investment can be
                              executed through the final voting result.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-tokensale -->
        </section>

        <!-- // -->
        <section class="section bg-light section-document" id="documents">
          <div class="container">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto">
              <h2
                class="title animated"
                data-animate="fadeInUp"
                data-delay=".1"
              >
                GESIA Whitepaper
              </h2>
              <p class="animated" data-animate="fadeInUp" data-delay=".2">
                Green Technology & Culture Campaign with Millennials.
              </p>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block nk-block-document">
              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div
                    class="card card-lg animated"
                    data-animate="fadeInUp"
                    data-delay=".3"
                  >
                    <div class="row align-items-center">
                      <div class="col-md-6">
                        <div class="nk-block-img px-4 pb-4 pb-md-0">
                          <img src="images/white_paper.png" alt="white_paper" />
                        </div>
                      </div>
                      <!-- .col -->
                      <div class="col-md-6">
                        <div class="nk-block-text">
                          <h4 class="title title-md">GESIA Whitepaper</h4>
                          <p>
                            We propose a ‘Green Earth Social Impact Alliance
                            Platform’ that combines the collective intelligence
                            of the millennial community with the potential of
                            blockchain.
                          </p>
                          <ul class="btn-grp gutter-30px gutter-vr-20px">
                            <li>
                              <a
                                href="files/EN GET WHITE PAPER.pdf"
                                class="btn btn-grad"
                                target="_blank"
                                >Download White paper</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- .col -->
                    </div>
                    <!-- .row -->
                  </div>
                  <!-- .box -->
                </div>
                <!-- .col -->
              </div>
              <!-- .row -->
            </div>
            <!-- .block @e -->
          </div>
        </section>
        <!-- // -->
        <section class="section section-roadmap bg-white" id="roadmap">
          <div class="container">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto">
              <h6
                class="title title-xs title-light animated"
                data-animate="fadeInUp"
                data-delay=".1"
              >
                The roadmap to success
              </h6>
              <h2
                class="title title-lg title-dark animated"
                data-animate="fadeInUp"
                data-delay=".2"
              >
                Green Earth Social Impact Alliacne Roadmap
              </h2>
              <p class="animated" data-animate="fadeInUp" data-delay=".3">
                GESIA Platform allows participants to access their services
                through their wallets, and makes it easier for interested
                companies to build new services using various Restful APIs in
                their services.
              </p>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
              <div class="row justify-content-center">
                <div class="col-xl-10">
                  <div class="roadmap-wrap">
                    <div class="roadmap-line"></div>
                    <div
                      class="roadmap animated"
                      data-animate="fadeInUp"
                      data-delay=".4"
                    >
                      <div class="roadmap-year">2023</div>
                    </div>
                    <div
                      class="roadmap roadmap-right animated"
                      data-animate="fadeInUp"
                      data-delay=".5"
                    >
                      <div class="roadmap-step">
                        <div class="roadmap-head">
                          <span class="roadmap-time">1Q 2023</span>
                          <span class="roadmap-title">Off-Chain</span>
                        </div>
                        <p>
                          Providing a service to erase carbon footprints to one
                          travel service company.
                        </p>
                        <div class="roadmap-head">
                          <span class="roadmap-title">Business</span>
                        </div>
                        <p>Carbon Offset Brokerage POC.</p>
                      </div>
                    </div>
                    <div
                      class="roadmap roadmap-left animated"
                      data-animate="fadeInUp"
                      data-delay=".6"
                    >
                      <div class="roadmap-step">
                        <div class="roadmap-head">
                          <span class="roadmap-time">2Q 2023</span>
                          <span class="roadmap-title">On-Chain</span>
                        </div>
                        <p>Lightning chain and Swap.</p>
                        <p>NFC Service.</p>
                        <div class="roadmap-head">
                          <span class="roadmap-title">Off-Chain</span>
                        </div>
                        <p>Integrated website.</p>
                        <div class="roadmap-head">
                          <span class="roadmap-title">Business</span>
                        </div>
                        <p>NFT Green Certificate Issuance POC.</p>
                      </div>
                    </div>
                    <div
                      class="roadmap roadmap-right animated"
                      data-animate="fadeInUp"
                      data-delay=".7"
                    >
                      <div class="roadmap-step">
                        <div class="roadmap-head">
                          <span class="roadmap-time">3Q 2023</span>
                          <span class="roadmap-title">On-Chain</span>
                        </div>
                        <p>Investment DAO Platform.</p>
                        <div class="roadmap-head">
                          <span class="roadmap-title">Off-Chain</span>
                        </div>
                        <p>External Investment Information/Evaluation.</p>
                        <p>Information service linkage.</p>
                        <div class="roadmap-head">
                          <span class="roadmap-title">Business</span>
                        </div>
                        <p>Investment Brokerage POC.</p>
                      </div>
                    </div>
                    <div
                      class="roadmap roadmap-left animated"
                      data-animate="fadeInUp"
                      data-delay=".8"
                    >
                      <div class="roadmap-step">
                        <div class="roadmap-head">
                          <span class="roadmap-time">4Q 2023</span>
                          <span class="roadmap-title">On-Chain</span>
                        </div>
                        <p>Blockchain Oracle</p>
                        <div class="roadmap-head">
                          <span class="roadmap-title">Off-Chain</span>
                        </div>
                        <p>External expert services.</p>
                      </div>
                    </div>
                    <div
                      class="roadmap animated"
                      data-animate="fadeInUp"
                      data-delay=".9"
                    >
                      <div class="roadmap-year">2024</div>
                    </div>
                    <div
                      class="roadmap roadmap-right animated"
                      data-animate="fadeInUp"
                      data-delay=".10"
                    >
                      <div class="roadmap-step">
                        <div class="roadmap-head">
                          <span class="roadmap-time">Q1 2024</span>
                          <span class="roadmap-title">On-Chain</span>
                        </div>
                        <p>Carbon Offset Tokenization.</p>
                        <div class="roadmap-head">
                          <span class="roadmap-title">Off-Chain</span>
                        </div>
                        <p>External Enterprise API Bank.</p>
                        <div class="roadmap-head">
                          <span class="roadmap-title">Business</span>
                        </div>
                        <p>External service POC.</p>
                      </div>
                    </div>
                    <div
                      class="roadmap roadmap-left animated"
                      data-animate="fadeInUp"
                      data-delay=".11"
                    >
                      <div class="roadmap-step">
                        <div class="roadmap-head">
                          <span class="roadmap-time">Q2 2024</span>
                          <span class="roadmap-title">Off-Chain</span>
                        </div>
                        <p>
                          External verification and supplementation of the
                          system.
                        </p>
                      </div>
                    </div>
                    <div
                      class="roadmap roadmap-right animated"
                      data-animate="fadeInUp"
                      data-delay=".12"
                    >
                      <div class="roadmap-step">
                        <div class="roadmap-head">
                          <span class="roadmap-time">Q4 2024</span>
                          <span class="roadmap-title">Business</span>
                        </div>
                        <p>Full service.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .col -->
              </div>
              <!-- .row -->
            </div>
            <!-- Block @e -->
          </div>
        </section>
        <!-- // -->
        <section class="section tc-light bg-theme-grad" id="members">
          <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-text-wrap">
              <div class="row align-items-center">
                <div class="col-lg-7 order-lg-last">
                  <div
                    class="nk-block-img bg-pattern-dots edge-r1 pb-4 pb-lg-0 animated"
                    data-animate="fadeInUp"
                    data-delay=".1"
                  >
                    <img src="images/gec_members.png" alt="app" />
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="nk-block-text">
                    <h6
                      class="title title-xs tc-primary animated"
                      data-animate="fadeInUp"
                      data-delay=".1"
                    >
                      GEC SOCIAL MEMBERS
                    </h6>
                    <h2
                      class="title animated"
                      data-animate="fadeInUp"
                      data-delay=".2"
                    >
                      Green Social Wave
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".3">
                      A member of the Green Earth Social Impact Alliance
                      platform.
                    </p>
                    <ul
                      class="list list-check animated"
                      data-animate="fadeInUp"
                      data-delay=".4"
                    >
                      <li style="text-align: justify">
                        The company that will be responsible for the initial
                        development of the GESIA platform and business is Green
                        Social Wave Company Limited(GSW). GSW was first
                        conceptualized by Ellis Ahn, a fashion model,
                        influencer, and millennial herself, with renowned and
                        respected professors who have advised her on the current
                        status of environmental movements of companies and
                        blockchain experts who also share the vision of Ellis.
                        Soon after, many seasoned people in various sectors
                        joined GSW to improve society.
                      </li>
                      <li style="text-align: justify">
                        Separately, the Green Earth Community Foundation, which
                        consists opinion leaders from academia, politics,
                        related organizations, business, etc., will be
                        established for research and policy development
                        necessary for the growth of this project.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- .row -->
            </div>
            <!-- .block @e -->
          </div>
        </section>
        <!-- // -->
        <section class="section section-faq bg-white" id="faq">
          <div class="container">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto">
              <h2
                class="title animated"
                data-animate="fadeInUp"
                data-delay=".1"
              >
                FAQs
              </h2>
              <p class="animated" data-animate="fadeInUp" data-delay=".2"></p>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <div class="accordion accordion-s1" id="acc-1">
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm"
                      data-bs-toggle="collapse"
                      data-bs-target="#acc-1-1"
                    >
                      Green technology?<span class="accordion-icon"></span>
                    </h5>
                    <div
                      id="acc-1-1"
                      class="collapse show"
                      data-bs-parent="#acc-1"
                    >
                      <div class="accordion-content">
                        <p>
                          The green technology industry strives to provide more
                          environment-friendly ways and means throughout the
                          life cycle of goods and services. It is not limited to
                          simply switching to alternative energy sources but
                          includes a technology enabling energy consumption
                          reduction by harnessing the energy management system
                          research, agricultural reengineering, material
                          science, hydrogen power, and other related
                          technologies. Moreover, many of these new green
                          technologies are aggressively aiming to restore the
                          earth by recapturing greenhouse gas, reforestation,
                          re-soiling, etc. <br />
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#acc-1-2"
                    >
                      Hybrid Smart Contracts and Oracle Services?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="acc-1-2" class="collapse" data-bs-parent="#acc-1">
                      <div class="accordion-content">
                        <p>
                          GESIA Chain obtains a variety of external information
                          for on-chain services through blockchain oracle
                          services and provides participants with useful
                          information when making decisions.<br />For example,
                          when executing an investment, a company requesting
                          investment verifies that the planned investment
                          performance results and plan information are in
                          accordance with the investment plan promised in
                          advance by two or more experts, and the investor
                          agrees to the final voting result through which you
                          can execute your investment.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#acc-1-3"
                    >
                      Token Economy <span class="accordion-icon"></span>
                    </h5>
                    <div id="acc-1-3" class="collapse" data-bs-parent="#acc-1">
                      <div class="accordion-content">
                        <p>
                          Anyone who wishes to participate GESIA Platform may
                          procure the ERC-20 standard token, GET, which will be
                          listed on several virtual asst exchanges and
                          decentralized exchanges for easier access by members.
                          The primary role of this token is to function as a
                          channel to participate in the GESIA ecosystem. This
                          token can be exchanged with third-party stable tokens,
                          which have the same value as fiat currency, required
                          for purchasing carbon offset credits and for external
                          transactions such as green technology investment DAO.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#acc-1-4"
                    >
                      Reward program<span class="accordion-icon"></span>
                    </h5>
                    <div id="acc-1-4" class="collapse" data-bs-parent="#acc-1">
                      <div class="accordion-content">
                        <p>
                          The value of ERC-20-based GET issued is linked to
                          expanding the network value of the entire ecosystem.
                          To foster the growth of this ecosystem's value, GESIA
                          Chain rewards those who have contributed to the
                          ecosystem with various smart contract usage fees and
                          transaction fees. Reward programs will be carefully
                          designed to incentivize more community members to
                          participate.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#acc-1-5"
                    >
                      Green Earth social impact alliance platform member?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="acc-1-5" class="collapse" data-bs-parent="#acc-1">
                      <div class="accordion-content">
                        <p>
                          The company that will be in charge of the initial
                          development of the Green Earth Social Impact platform
                          and business is Green Social Wave.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // -->
      </main>
      <!-- Footer -->
      <footer class="nk-footer bg-theme-grad">
        <!-- // -->
        <section class="section section-footer tc-light bg-transparent">
          <div class="container">
            <!-- Block @s -->
            <div class="nk-block block-footer mgb-m30">
              <div class="row">
                <div class="col-lg-3 col-sm-4">
                  <div
                    class="wgs wgs-menu animated"
                    data-animate="fadeInUp"
                    data-delay=".2"
                  >
                    <h6 class="wgs-title">Company</h6>
                    <div class="col-sm-6 wgs-body">
                      <ul class="wgs-links">
                        <li><a href="#about">GEC</a></li>
                        <li><a href="#background">Background</a></li>
                        <li><a href="#service">Service</a></li>
                        <li><a href="#documents">Whitepaper</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- .col -->
                <div class="col-lg-8 order-lg-first">
                  <div
                    class="wgs wgs-text animated"
                    data-animate="fadeInUp"
                    data-delay=".1"
                  >
                    <div class="wgs-body">
                      <a href="#">
                        <img src="images/logo-full-white.png" alt="logo" />
                      </a>
                      <p>
                        Copyright &copy; 2022 Green Social Wave Inc. All rights
                        reserved.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- .col -->
              </div>
              <!-- .row -->
            </div>
            <!-- .block @e -->
          </div>
        </section>
        <div class="nk-ovm shape-b"></div>
      </footer>
    </div>
    <!-- JavaScript -->
    <script src="assets/js/jquery.bundle.js?ver=200"></script>
    <script src="assets/js/scripts.js?ver=200"></script>
    <script src="assets/js/charts.js?ver=200"></script>
    <script src="assets/js/charts.js?ver=200"></script>
  </body>
</html>
