<!DOCTYPE html>
<html lang="kor" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="GESIA">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GESIA">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>Green Earth Community Landing-Page</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">


    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=200">
    <link rel="stylesheet" href="assets/css/style.css?ver=200">
</head>

<body class="nk-body body-wider bg-light mode-onepage">
    <div class="nk-wrap">
        <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
            <!-- Header @s -->
            <div class="header-main">
                <div class="header-container container">
                    <div class="header-wrap">
                        <!-- Logo @s -->
                        <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                            <a href="#" class="logo-link">
                                <img class="logo-dark" src="images/logo2.png" alt="logo">
                                <img class="logo-light" src="images/logo2-full-white.png" alt="logo">
                            </a>
                        </div>
                        <!-- Menu Toogle @s -->
                        <div class="header-nav-toggle">
                            <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
                        </div>
                        <!-- Menu @s -->
                        <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                            <nav class="header-menu" id="header-menu">
                                <ul class="menu">
                                    <li class="menu-item"><a class="menu-link nav-link" href="#header">Home</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#about">GESIA</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#background">Background</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#service">Service</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#contract">Contract</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#documents">Whitepaper</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#roadmap">Roadmap</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#faq">Faq</a></li>
                                    <li class="menu-item has-sub">
                                        <a class="menu-link nav-link menu-toggle" href="#">Lang</a>
                                        <ul class="menu-sub menu-drop">
                                            <li class="menu-item"><a class="menu-link nav-link" href="index">KR</a></li>
                                            <li class="menu-item"><a class="menu-link nav-link" href="index_en">EN</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- .header-navbar @e -->
                    </div>
                </div>
            </div><!-- .header-main @e -->
            <!-- Banner @s -->
            <div class="header-banner bg-theme-grad">
                <div class="nk-banner">
                    <div class="banner banner-fs banner-single banner-gap-b2">
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 order-lg-last">
                                        <div class="banner-gfx banner-gfx-re-s1 animated" data-animate="fadeInUp" data-delay=".9">
                                            <img src="images/main.png" alt="header">
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-lg-7 col-sm-10 text-center text-lg-start">
                                        <div class="banner-caption cpn tc-light">
                                            <div class="cpn-head">
                                                <h1 class="title animated" data-animate="fadeInUp" data-delay="1">Green Earth Community<br class="d-none d-md-block">Social Impact Platform</h1>
                                            </div>
                                            <div class="cpn-text">
                                                <p class="animated" data-animate="fadeInUp" data-delay="1.1">그린 어스 커뮤니티 플랫폼은, 참여자와 함께 사회적 공통 목표를 향해 나아가는 문화를 창출함에 있어 블록체인이 제공하는 새로운 가능성을 더하여, 기존 비영리 환경운동의 한계를 극복하고자 합니다.</p>
                                            </div>
                                            <div class="cpn-action">
                                                <div class="cpn-btns animated" data-animate="fadeInUp" data-delay="1.2">
                                                    <a class="btn btn-light" href="#background">Background</a>
                                                </div>
                                                <ul class="cpn-links animated" data-animate="fadeInUp" data-delay="1.3">
                                                    <li><a class="menu-link nav-link" href="#documents"><em class="link-icon fas fa-file-alt"></em><span>White Paper</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-banner -->
                <div class="nk-ovm mask-a shape-a"></div>
                <!-- Place Particle Js -->
                <div id="particles-bg" class="particles-container particles-bg"></div>
            </div>
            <!-- .header-banner @e -->
        </header>
        <main class="nk-pages">
            <section class="section no-pd overflow-hidden text-center over-up">
                <h6 class="title title-xs tc-secondary pdb-s animated" data-animate="fadeInUp" data-delay=".8">GESIA Platform</h6>
                <ul class="rank-list">
                    <li class="rank-item animated" data-animate="fadeInUp" data-delay=".9">
                        <img src="images/gec-logo1.png" alt="">
                        <div class="rank-count">NFT</div>
                    </li>
                    <li class="rank-item animated" data-animate="fadeInUp" data-delay="1">
                        <img src="images/gec-logo1.png" alt="">
                        <div class="rank-count">GET</div>
                    </li>
                    <li class="rank-item animated" data-animate="fadeInUp" data-delay="1.1">
                        <img src="images/gec-logo1.png" alt="">
                        <div class="rank-count">POC</div>
                    </li>
                    <li class="rank-item animated" data-animate="fadeInUp" data-delay="1.2">
                        <img src="images/gec-logo1.png" alt="">
                        <div class="rank-count">Dual Layer</div>
                    </li>
                    <li class="rank-item animated" data-animate="fadeInUp" data-delay="1.3">
                        <img src="images/gec-logo1.png" alt="">
                        <div class="rank-count">Oracle</div>
                    </li>
                </ul>
            </section>
            <!-- // -->
            <section class="section bg-light section-about" id="about">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="row gutter-vr-30px align-items-center pdb-x">
                            <div class="col-lg-7">
                                <div class="nk-block-text">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Green Earth Social Platform</h2>
                                    <p class="animated" style="text-align: justify;" data-animate="fadeInUp" data-delay=".2"><strong>그린 어스 사회기여 프로젝트는</strong> ‘사회 기여’라는 가치를 공유하는 디지털 플랫폼에 밀레니얼 세대와 연대하여 진정한 사회기여 투자의 정의를 널리 알리고, 
                                        향후 한국에서 건강한 수익을 창출하는 사회기여 투자가 주류로 부상할 수 있도록 노력하고자 합니다.</p>
                                    <p class="animated" style="text-align: justify;" data-animate="fadeInUp" data-delay=".3">이러한 활동을 공정하고, 투명하게 유지하기 위하여 블록체인 기술을 적극적으로 활용하고, 한국에서부터 시작될 새로운 생태계 문화가 보다 <strong>푸른 미래를 위한 전세계적 
                                        사회적 운동</strong>으로 펼쳐 지기를 희망합니다.</p>
                                    <p class="animated" style="text-align: justify;" data-animate="fadeInUp" data-delay=".4">그 첫걸음으로 커뮤니티의 집단지성과 블록체인의 가능성을 결합한 ‘그린 어스 커뮤니티 플랫폼(Green Earth Social Impact Platform)’을 제안합니다.</p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="nk-block-video animated" data-animate="fadeInUp" data-delay=".5">
                                    <img src="images/green-earth1.png" alt="green-earth">
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-features bg-white" id="features">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s2">
                        <div class="row align-items-center flex-row-reverse">
                            <div class="col-lg-5">
                                <div class="nk-block-video animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="images/gec-chain.png" alt="gec_chain2">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7">
                                <!-- Section Head @s -->
                                <div class="section-head">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Green Earth Chain?</h2>
                                    <p class="animated" style="text-align: justify;" data-animate="fadeInUp" data-delay=".3">그린 어스 체인은 블록체인의 탄소발자국 문제를 극복함과 동시에 네트워크의 호환성, 안정성 및 높은 거래처리속도를 확보하기 위해 
                                        퍼블릭 블록체인 위에 라이트닝 프로토콜을 접목한 사이드 체인을 구성 합니다. </p>
                                </div><!-- .section-head @e -->
                                <div class="features-list me-4 mgb-m30">
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-cloud"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm">탄소상쇄권 거래를 위한 시장 정보</h5>
                                            <p style="text-align: justify;">그린 어스 체인은 탄소상쇄권 거래에 있어서 거래에 사용되는 가상자산의 탄소상쇄권의 공정한 시장가치를 제공합니다.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-wallet-digital"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm">지리정보 데이터를 통한 보상</h5>
                                            <p style="text-align: justify;">위성 지리정보는 이미지를 가져오고 스마트컨트렉트는 나무가 자라난 면적을 정의된 조건에 따라 기여한 사람에게 보상을 제공합니다.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-data-server"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm">다이나믹 NFT</h5>
                                            <p style="text-align: justify;">그린 어스 체인의 2세대 NFT는 하이브리드 스마트 컨트랙트를 통해 정적인 형태의 1세대 NFT에 동적인 변화를 가능하게 합니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-solution bg-light" id="background">
                <div class="container container-xxl">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Background</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">그린 어스 커뮤니티 플랫폼은 블록체인이 제공하는 새로운 가능성을 활용하여, 기존 비영리 환경운동의 한계를 극복하고자 합니다.</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s3">
                        <div class="row gutter-vr-40px justify-content-center">
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-bulb-2"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">Green Technology Status</h4>
                                        <p style="text-align: justify;">2020년 기준 전세계 그린 테크놀로지 시장은 약 120조원의 시장을 형성하고 있으며 연평균 21.9% 성장을 하여 2030년에는 약 900조원 시장을 형성할 것이라고 예측되고 있습니다.&nbsp; 
                                           2021년 11월 15일 미국의 Joe Biden 대통령이 통과시킨 1,440조원 규모의 ‘Infrastructure Investment and Jobs Act’는 상당부분을 그린 테크놀로지에 투자하는 것으로 알려져 있습니다.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-user"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">새로운 소비층, 밀레니얼세대에 대한 고찰</h4>
                                        <p style="text-align: justify;">밀레니얼 세대는 기업이 사회적 책임을 다하고 있는지, 책임을 다하고 있다고 주장하면 과연 어떠한 사회기여 활동을 수행하고 있는지에 대해 정확히 알고 싶어합니다.&nbsp;
                                            이러한 밀레니얼의 독특한 특성은 이전 세대들과 확연히 다르며, 향후 이들의 가치를 반영한 새로운 문화가 주류가 되면, 사회는 보다 건강한 방향으로 진화하리라 판단됩니다.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-cash"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">사회기여 투자</h4>
                                        <p style="text-align: justify;">현재 사회기여 투자시장 총 규모는 약 7,150억 달러, 858조를 상회하며 투자에 대한 선호도는 빠르게 커져가고 있습니다.&nbsp;
                                            최근 투자자들은 이윤만이 유일한 목적이 아님을 명확히 하고 있으며 자신들이 사회에 기여하고 있음을 보여주고자 합니다. 한 예로, 모 자산운영사는 86%의 고객이 지구 환경문제 때문에 사회기여 투자를 선호하고 참여한다고 말하고 있습니다.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".6">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-globe"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">민간 자율적 탄소상쇄권 시장</h4>
                                        <p style="text-align: justify;">2021년11월13일 통과된 파리 기후협약 제6조는 탄소상쇄권 프로젝트에 대한 인가자로 UN을 지정하고 있습니다.&nbsp; 
                                            이는 탄소상쇄권 거래체계의 신뢰도를 높이고, 보다 많은 탄소감축 프로젝트가 탄생할 수 있게 하며, 향후 탄소상쇄권에 대한 수요를 증가시키게 될 것입니다.&nbsp; 또한  민간영역이 배출목표를 달성하는 방식에 중대한 변화를 예고하고 있으며, 시장의 비약적인 도약을 기대하게 합니다.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-globe"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">탄소상쇄권이란 무엇인가?</h4>
                                        <p style="text-align: justify;">탄소상쇄란 개인이나 단체가 탄소 발자국을 줄이기 위해 구입할 수 있는 배출권을 의미합니다.&nbsp;
                                            구입한 탄소상쇄배출권이 발생시킨 탄소 발자국과 동일하다면 해당 개인과 단체는 탄소중립을 이룬 것이라고 말할 수 있습니다. 탄소상쇄배출권 구매시 발생하는 수익은 항상 그런 것은 아니지만, 대개 그린 컴퓨팅 기술 투자와 같은 환경 친화적인 프로젝트에 사용됩니다.</p>
                                    </div>
                                    <a href="files/탄소배출상쇄권.pdf" class="btn btn-grad" target="_blank" style="margin-top: 40px">더보기</a>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".6">
                                    <div class="feature-icon feature-icon-lg">
                                    </div>
                                    <div class="feature-text">
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-wallet bg-white" id="service">
                <div class="container">
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Platform Service</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">플랫폼 서비스는 커뮤니티의 자발적 참여를 유도할 수 있는 사회참여 서비스와 기여를 통해서 
                            수익을 창출할 수 있는 사회기여투자 서비스로 구성되어 있습니다.</p>
                    </div><!-- .section-head @e -->

                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center justify-content-center flex-row-reverse">
                            <div class="col-lg-12">
                                <div class="nk-block-img bg-pattern-dots-color">
                                    <div class="animated"  data-animate="fadeInUp" data-delay=".1">
                                        <img src="images/carbon_offset1.png" alt="">
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div>
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-wallet-bottom bg-white pdt-0">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-grp mgb-m30">
                        <h6 class="title title-md tc-primary pdb-s animated" data-animate="fadeInUp" data-delay=".4">사회참여 서비스</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".5">
                                    <h4 class="title title-md">포인트 기부 시스템</h4>
                                    <p style="text-align: justify;">개인이 탄소배출 및 탄소절감 활동을 통하여 보유하고 있는 각종 포인트들을 환경문제를 해결할 수 있는 곳에 사용할 수 있는 서비스를 제공 합니다.
                                        포인트를 발행하는 기업 또는 기관과의 협업을 통해 소비자들이 스스로 포인트에 상응하는 탄소상쇄권을 구매하거나, 탄소상쇄권을 발생시키는 곳에 투자할 수 있는 플랫폼을 제공합니다.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".6">
                                    <h4 class="title title-md">NFT 그린활동 증명서</h4>
                                    <p style="text-align: justify;">그린 어스 커뮤니티 플랫폼을 여러 기업과 서비스 업체들에게 제안하고, 참여한 기업과 서비스 업체들에서 참여자들이 자신이 보유하거나 구매한 탄소상쇄권을 가지고 자신의 탄소발자국을 지울 수 있도록 서비스를 제공하며, 
                                        이러한 노력에 대한 보상으로 NFT 그린활동 증명서 및 보상 토큰을 발급하여 보다 더 확산되도록 노력할 것입니다.</p>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    <div class="nk-block nk-block-text-grp mgb-m30">
                        <h6 class="title title-md tc-primary pdb-s animated" data-animate="fadeInUp" data-delay=".4">사회기여투자 서비스</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".5">
                                    <h4 class="title title-md">탄소상쇄권 중개</h4>
                                    <p style="text-align: justify;">탄소상쇄권 시장에 참여자들이 쉽고 편리하게 참여할 수 있도록 공인된 탄소상쇄권 거래소와 연결하여, 지속가능한 탄소상쇄권에 다양한 가상자산으로 투자할 수 있는 중개 플랫폼을 제공합니다. 
                                        참여자는 그린 어스 커뮤니티 플랫폼에 기여하면서 받은 토큰 을 가지고도 탄소상쇄권 매매에 사용할 수 있도록 구성됩니다. </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".6">
                                    <h4 class="title title-md">그린 테크놀로지 분산형 자율기업</h4>
                                    <p style="text-align: justify;">그린 어스 커뮤니티 플랫폼은, 미래를 생각하는 밀레니얼들이 모인 커뮤니티이기에 공정하게 운영될 수 있는 문화를 적극적으로 후원합니다. 
                                        모든 참여자가 스스로 새로운 그린 테크놀로지를 발굴하고, 공유하고, 필요할 경우 스스로 투자결정을 내리고, 그에 따라 분산형 자율기업(DAO)을 형성할 수 있는 블록체인 프로토콜을 제공합니다.</p>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="bg-theme bg-pattern-dots" id="contract">
                <div class="section section-tokensale tc-light">
                    <div class="container container-xxl">
                        <!-- Section Head @s -->
                        <div class="section-head text-center wide-auto">
                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Hybrid Smart Contract</h2>
                            <p class="animated" data-animate="fadeInUp" data-delay=".2">헤시타임락 스마트컨트렉트 & 아토믹 스왑</p>
                        </div><!-- .section-head @e -->
                        <!-- Block @s -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-1-1">
                                <div class="row align-items-center justify-content-between gutter-vr-40px">
                                    <div class="col-lg-6 order-lg-last">
                                        <div class="nk-block-img nk-block-ca animated" data-animate="fadeInUp" data-delay="0.2">
                                            <div class="nk-circle-animation nk-df-center fast"></div><!-- .circle-animation -->
                                            <img class="shadow rounded" src="images/get_platform.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="nk-block-text mgb-m30">
                                            <h2 class="title title-md animated" data-animate="fadeInUp" data-delay="0.2">A Open Platform for Hash Time Lock</h2>
                                            <p class="animated" data-animate="fadeInUp" data-delay="0.2">그린 어스 체인이 작동하기 위해서는 퍼블릭 네트워크에서 발행된 GET와 자체적인 GEC가 교환되어야 하는데 이때 스마트 컨트랙트의 일종인 해시타임락(Hash Time Lock) 기능을 사용합니다.</p>
                                            <div class="feature feature-inline feature-middle animated" data-animate="fadeInUp" data-delay="0.3">
                                                <div class="feature-icon feature-icon-md">
                                                    <em class="icon icon-md icon-grd ikon ikon-bulb-2"></em>
                                                </div>
                                                <div class="feature-text">
                                                    <p style="text-align: justify;">해시타임락이란 계약의 실행을 일정 시간까지 지연시키는 타임락과 일정한 해시값(다른 트렌젝션종료 값)이 제시돼야 계약이 실행/종료되는 해시락이 결합한 형태입니다.</p>
                                                </div>
                                            </div>
                                            <div class="feature feature-inline feature-middle animated" data-animate="fadeInUp" data-delay="0.4">
                                                <div class="feature-icon feature-icon-md">
                                                    <em class="icon icon-md icon-grd ikon ikon-paricle"></em>
                                                </div>
                                                <div class="feature-text">
                                                    <p style="text-align: justify;">실생활의 외부정보를 스마트 컨트랙트에 제공하는 서비스를 블록체인 오라클이라고 하며, 온-체인 코드와 오프-체인 오라클을 결합한 형태를 하이브리드 스마트 컨트랙트라고 합니다.</p>
                                                </div>
                                            </div>
                                            <div class="feature feature-inline feature-middle animated" data-animate="fadeInUp" data-delay="0.5">
                                                <div class="feature-icon feature-icon-md">
                                                    <em class="icon icon-md icon-grd ikon ikon-document-2"></em>
                                                </div>
                                                <div class="feature-text">
                                                    <p style="text-align: justify;">오라클 서비스를 통하여 다양한 정보를 참여자에게 전달하고 의사결정을 내릴 때에 활용할 수 있도록 제공합니다. 투자 계획정보를 바탕으로 2명 이상의 전문가가 투자계획에 부합한지 검증 하고 최종 투표결과를 통해 투자를 집행 할 수 있게 합니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .section-tokensale -->
            </section>

            <!-- // -->
            <section class="section bg-light section-document" id="documents">
                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">GESIA Whitepaper</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Green Technology & Culture Campaign with Millennials.</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-document">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="card card-lg animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="nk-block-img px-4 pb-4 pb-md-0">
                                                <img src="images/white_paper.png" alt="white_paper">
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="nk-block-text">
                                                <h4 class="title title-md">GESIA Whitepaper</h4>
                                                <p>밀레니얼 세대 커뮤니티의 집단지성과 블록체인의 가능성을 결합한 ‘그린 어스 커뮤니티 플랫폼(Green Earth Social Impact Platform)’을 제안합니다.</p>
                                                <ul class="btn-grp gutter-30px gutter-vr-20px">
                                                    <li><a href="files/그린어스소셜임팩트얼라이언스 백서 V1.02.pdf" class="btn btn-grad" target="_blank">Download White paper</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .box -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-roadmap bg-white" id="roadmap">
                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto">
                        <h6 class="title title-xs title-light animated" data-animate="fadeInUp" data-delay=".1">The roadmap to success</h6>
                        <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".2">Green Earth Coummunity Roadmap</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Green Earth Community Platform은 참여자들이 자신의 지갑을 통해 자신의 서비스에 접근할 수 있도록 하고, 다양한 기업이 서비스에서 다양한 Restful API로 구성된 API 뱅크 서비스를 보다 쉽게 구축할 수 있도록 합니다.</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-roadmap">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="roadmap-wrap">
                                    <div class="roadmap-line"></div>
                                    <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="roadmap-year">2023</div>
                                    </div>
                                    <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">1Q 2023</span>
                                                <span class="roadmap-title">Off-Chain</span>
                                            </div>
                                            <p>1개 여행서비스 업체에 탄소발자국을 지우는 서비스 제공.</p>
                                            <div class="roadmap-head">
                                                <span class="roadmap-title">Business</span>
                                            </div>
                                            <p>탄소상쇄권 중개 POC.</p>

                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">2Q 2023</span>
                                                <span class="roadmap-title">On-Chain</span>
                                            </div>
                                            <p>라이트닝 체인 및 스왑.</p>
                                            <p>NFT 서비스.</p>
                                            <div class="roadmap-head">
                                                <span class="roadmap-title">Off-Chain</span>
                                            </div>
                                            <p>통합 웹사이트.</p>
                                            <div class="roadmap-head">
                                                <span class="roadmap-title">Business</span>
                                            </div>
                                            <p>NFT 그린 증명서 발급 POC.</p>
                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".7">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">3Q 2023</span>
                                                <span class="roadmap-title">On-Chain</span>
                                            </div>
                                            <p>투자 DAO 플랫폼.</p>
                                            <div class="roadmap-head">
                                                <span class="roadmap-title">Off-Chain</span>
                                            </div>
                                            <p>외부 투자 정보/평가.</p>
                                            <p>정보 서비스 연동.</p>
                                            <div class="roadmap-head">
                                                <span class="roadmap-title">Business</span>
                                            </div>
                                            <p>투자 중개 POC.</p>
                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".8">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">4Q 2023</span>
                                                <span class="roadmap-title">On-Chain</span>
                                            </div>
                                            <p>블록체인 오라클</p>
                                            <div class="roadmap-head">
                                                <span class="roadmap-title">Off-Chain</span>
                                            </div>
                                            <p>외부 전문가 서비스.</p>
                                        </div>
                                    </div>

                                    <div class="roadmap animated" data-animate="fadeInUp" data-delay=".9">
                                        <div class="roadmap-year">2024</div>
                                    </div>
                                    <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".10">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q1 2024</span>
                                                <span class="roadmap-title">On-Chain</span>
                                            </div>
                                            <p>탄소상쇄권 토큰화.</p>
                                            <div class="roadmap-head">
                                                <span class="roadmap-title">Off-Chain</span>
                                            </div>
                                            <p>외부 기업용 API뱅크.</p>
                                            <div class="roadmap-head">
                                                <span class="roadmap-title">Business</span>
                                            </div>
                                            <p>외부 서비스 POC.</p>
                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".11">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q2 2024</span>
                                                <span class="roadmap-title">Off-Chain</span>
                                            </div>
                                            <p>시스템 외부 검증 및 보완.</p>
                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".12">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q4 2024</span>
                                                <span class="roadmap-title">Business</span>
                                            </div>
                                            <p>본 서비스.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div>
                    <!-- Block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section tc-light bg-theme-grad" id="members">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center">
                            <div class="col-lg-7 order-lg-last">
                                <div class="nk-block-img bg-pattern-dots edge-r1 pb-4 pb-lg-0 animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="images/gec_members.png" alt="app">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="nk-block-text">
                                    <h6 class="title title-xs tc-primary animated" data-animate="fadeInUp" data-delay=".1">GESIA SOCIAL MEMBERS</h6>
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Green Social Wave</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">그린 어스 커뮤니티 사회기여 플랫폼의 구성원.</p>
                                    <ul class="list list-check animated" data-animate="fadeInUp" data-delay=".4">
                                        <li style="text-align: justify;">그린 어스 소셜 임팩 플랫폼 및 사업의 최초 개발을 담당할 회사는 그린소셜웨이브(Green Social Wave)입니다.</li>
                                        <li style="text-align: justify;">본 프로젝트의 성장에 필요한 연구와 정책 개발 등을 위하여 학계, 정계, 관계기관, 기업인 등으로 구성된 그린 어스 커뮤니티 재단(Green Earth Community)이 설립됩니다.</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-faq bg-white" id="faq">
                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2"></p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="accordion accordion-s1" id="acc-1">
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#acc-1-1">그린 테크놀로지? <span class="accordion-icon"></span></h5>
                                    <div id="acc-1-1" class="collapse show" data-bs-parent="#acc-1">
                                        <div class="accordion-content">
                                            <p>그린 테크놀로지는 제품의 생산이나 공급 과정에서 보다 환경 친화적인 기술을 사용하는 것을 말합니다.<br>
                                                이는 친환경 에너지 생산부터, 에너지 사용량을 감축하는 기술을 포함하는 것으로 에너지, 
                                                기후공학, 농업, 재료공학, 수소학 등의 연구에 기초하고 있습니다.<br>
                                                그린 테크놀로지는 기후변화 문제에 대응하기 위해 온실가스 배출량 감축, 천연자원 보전, 과거에 발생한 환경문제를 복구하는 것 등을 목표로 하고 있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#acc-1-2">하이브리드 스마트 컨트렉트 및 오라클 서비스? <span class="accordion-icon"></span></h5>
                                    <div id="acc-1-2" class="collapse" data-bs-parent="#acc-1">
                                        <div class="accordion-content">
                                            <p>그린 어스 체인은 블록체인 오라클 서비스를 통해 다양한 정보를 참여자에게 전달하고, 의사결정을 내릴 때 활용할 수 있도록 제공합니다. 
                                                예를 들어, 투자를 집행할 때 투자를 요청하는 기업이 계획된 투자 이행결과와 계획정보가 2명 이상의 전문가가 사전에 약속한 투자계획에 
                                                부합한지 검증을 하고 동의를 한 상태에서 투자자가 최종 투표결과를 통해 투자를 집행을 할 수 있게 합니다.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#acc-1-3">토큰 이코노미 <span class="accordion-icon"></span></h5>
                                    <div id="acc-1-3" class="collapse" data-bs-parent="#acc-1">
                                        <div class="accordion-content">
                                            <p>그린 어스 커뮤니티 플랫폼은 보다 많은 참여자가 생태계에 참여할 수 있도록 퍼블릭 네트워크 상에서 Green Earth community Token(GET)을 발행하며, 
                                                이 토큰을 여러 가상자산 거래소 및 분산형 거래소에 상장하여 참여자들이 쉽게 접근할 수 있도록 합니다.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#acc-1-4">보상 프로그램 <span class="accordion-icon"></span></h5>
                                    <div id="acc-1-4" class="collapse" data-bs-parent="#acc-1">
                                        <div class="accordion-content">
                                            <p>그린 어스 커뮤니티 플랫폼의 서비스에서 언급된 것처럼, 참여자들이 적극적으로 탄소상쇄권 시장에 참여할 수 있는 중개 서비스를 제공하고, 그린 테크놀로지 기업이 
                                                시장에 보다 빠르게 진입할 수 있도록 분산금융 서비스를 제공하는 것을 목적으로 합니다.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#acc-1-5">그린 어스 커뮤니티 사회기여 플랫폼 구성원? <span class="accordion-icon"></span></h5>
                                    <div id="acc-1-5" class="collapse" data-bs-parent="#acc-1">
                                        <div class="accordion-content">
                                            <p>그린 어스 소셜 임팩 플랫폼 및 사업의 최초 개발을 담당할 회사는 그린소셜웨이브(Green Social Wave)이며, 이와는 별도로 본 프로젝트의 성장에 필요한 연구와 정책 개발 등을 위하여 학계, 
                                                정계, 관계기관, 기업인 등으로 구성된 그린 어스 커뮤니티 재단(Green Earth Community)이 설립될 예정입니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // -->
        </main>
        <!-- Footer -->
        <footer class="nk-footer bg-theme-grad">
            <!-- // -->
            <section class="section section-footer tc-light bg-transparent">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block block-footer mgb-m30">
                        <div class="row">
                            <div class="col-lg-3 col-sm-4">
                                <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".2">
                                    <h6 class="wgs-title">Company</h6>
                                    <div class="col-sm-6 wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#about">GESIA</a></li>
                                            <li><a href="#background">Background</a></li>
                                            <li><a href="#service">Service</a></li>
                                            <li><a href="#documents">Whitepaper</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-8 order-lg-first">
                                <div class="wgs wgs-text animated" data-animate="fadeInUp" data-delay=".1">
                                    <div class="wgs-body">
                                        <a href="#">
                                            <img src="images/logo-full-white.png" alt="logo">
                                        </a>
                                        <p>Copyright &copy; 2022 Green Earth Coummnity All rights reserved. </p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <div class="nk-ovm shape-b"></div>
        </footer>
    </div>
    <!-- JavaScript -->
    <script src="assets/js/jquery.bundle.js?ver=200"></script>
    <script src="assets/js/scripts.js?ver=200"></script>
    <script src="assets/js/charts.js?ver=200"></script>
    <script src="assets/js/charts.js?ver=200"></script>
</body>

</html>